# Define the default behavior where GitHub attempts to detect the file type and set the line endings correctly
* text=auto

# Define line endings to be unix (LF) for GitHub files
.gitattributes text eol=lf
.gitignore text eol=lf
.gitconfig text eol=lf
LICENSE text eol=lf
*.md text eol=lf

# Define line endings to be unix (LF) for source code
*.php text eol=lf
*.css text eol=lf
*.sass text eol=lf
*.scss text eol=lf
*.less text eol=lf
*.styl text eol=lf
*.js text eol=lf
*.coffee text eol=lf
*.json text eol=lf
*.htm text eol=lf
*.html text eol=lf
*.xml text eol=lf
*.svg text eol=lf
*.txt text eol=lf
*.ini text eol=lf
*.inc text eol=lf
*.pl text eol=lf
*.rb text eol=lf
*.py text eol=lf
*.scm text eol=lf
*.sql text eol=lf
*.sh text eol=lf
*.bat text eol=lf
*.txt text eol=lf
*.tmpl text eol=lf
Dockerfile text eol=lf

# Define binary files to be excluded from modification
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.flv binary
*.fla binary
*.swf binary
*.gz binary
*.tar binary
*.rar binary
*.zip binary
*.7z binary
*.egg binary
*.ttf binary
*.eot binary
*.woff binary
*.pyc binary
*.pdf binary
*.db binary
